@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,400;0,500;1,100&display=swap');

body, h1, h2, h3, p, ul, li, a, button, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #000;
    color: #e5daa4;
}

html {
    scroll-behavior: smooth;
}

video {
    width: 100%;
    height: 100%;
}

/* NAV BAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    width: 25%;
    max-width: 30vw;
}

.logo video {
    object-fit: cover;
}

.nav-links {
    color: #e5daa4;
    font-size: 1.5vw;
    font-weight: 100px;
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.nav-links a:hover {
    color: lightgray;
}

.nav-links a {
    text-decoration: none;
}

.toggle-button {
    display: none;
    position: absolute;
    top: 35px;
    right: 5%;
    width: 30px;
    height: 21px;
}


/* HERO */
.hero {
    margin-top: 25px;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 90px;
}

.hero img {
    height: auto;
    width: 90%;
    margin-left: 25px;
}

.hero-img {
    width: 35%;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    margin-top: -115px;
    width: 50%;
}

.hero-txt h1 {
    font-size: 6vw;
    font-weight: 400;
}


/* TYPEWRITING TEXT */
.typewrite{
    color: #e5daa4;
    font-size: 4vw;
    font-weight: 100;
    border-right: 1px solid #e5daa4;
    cursor: initial;
}

.typewrite {
    text-decoration: none;
}


/* ABOUT SECTION */
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    gap: 125px;
    width: 90%;
    padding: 50px;
}

.about-txt {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 60%;
}

.about h3 {
    font-size: 5vw;
    font-weight: 400;
    padding-bottom: 20px;
}

.about p {
    font-size: 1.3vw;
}

.about-pic {
    width: 50%;
    margin-top: 10px;
}

.about-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* SKILLS SECTION */
.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.skill-container, .learn-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-container {
    padding-bottom: 15px;
}

.skills h3 {
    font-size: 75px;
    font-weight: 400;
    padding-bottom: 20px;
}

.skill img, .learn img {
    height: 80px;
    width: auto;
}

.skill figcaption, .learn figcaption {
    margin-top: 10px;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}


/* PROJECT SECTION */
.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-content {
    margin-top: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-content h3 {
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.project-container a {
    text-decoration: none;
}

.project img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 1.5px solid #e5daa4;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project figcaption {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

.project:hover img {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/* PROJECT SMALL SCREEN */
@media (max-width: 768px) {
    
}


/* CONTACT SECTION */
.contact {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h3 {
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.msg-container {
    background-color: #e9ddbb;
    height: 45vh;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    padding: 20px;
}

.msg-container h5 {
    font-size: 38px;
    color: #181510;
    background-color: #e9ddbb;
    align-self: flex-start;
    margin: 5px 15px;
}

.form-container {
    background-color: #e9ddbb;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.msg, .email, .name, #dk {
    background-color: transparent;
}

#dk figcaption {
    color: #181510;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 8px;
}

.row-one {
    display: flex;
    gap: 75px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 40px;
}

.name-cont {
    position: relative;
    width: 50%;
    padding-left: 10px;
}

.name {
    width: 100%;
    font-size: 18px;
}

.name-cont input[type="name"] {
    color: #7b7a79;
    padding: 4px;
    border: none;
    border-bottom: 1.5px solid #181510;
}

.email-cont {
    position: relative;
    width: 75%;
}

.email {
    position: relative;
    width: 100%;
    font-size: 18px;
}

.email-cont input[type="email"] {
    color: #7b7a79;
    padding: 4px;
    border: none;
    border-bottom: 1.5px solid #181510;
}

.row-two {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    position: absolute;
    top: 35%;
    left: 0;
    width: 90%;
    padding: 40px;
}

.msg {
    position: relative;
    width: 98.9%;
    font-size: 18px;
    margin-left: 10px;
}

.row-two figcaption {
    padding-left: 10px;
}

.row-two input[type="text"] {
    color: #7b7a79;
    padding: 4px;
    padding-top: 15px;
    border: none;
    border-bottom: 1.5px solid #181510;
    margin-top: 10px;
}

#thx {
    background-color: #e9ddbb;
    color: #7b7a79;
    position: absolute;
    top: 90%;
    left: 6%;
}

.row-three {
    display: flex;
    justify-content: end;
    color: #181510;
    position: absolute;
    top: 80%;
    left: 85%;
    width: 10%;
    padding: 20px;
    margin-top: -10px;
}

.row-three button[type="submit"] {
    font-size: 19.5px;
    padding: 8px 16px;
    border: 1.5px solid #181510;
    border-radius: 2px;
    cursor: pointer;
}

.row-three button[type="submit"]:hover {
    color: #d3d3d3;
}

.social {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding: 10px;
    margin-top: 2px;
    text-align: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon figcaption {
    padding-top: 10px;
    padding-bottom: 25px;
}

.icon a {
    text-decoration: none;
}

.icon button {
    border: none;
    cursor: pointer;
}


/* POP-UP */
.popup {
    display: none;
    width: 888px;
    height: 100px;
    position: relative;
    top: -50px; 
    left: 49%;
    transform: translateX(-50%);
}

.popup-form {
    width: 888px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #e9ddbb;
}

.pop-container {
    width: 888px;
    height: 105px;
    display: flex;
    background-color: #e9ddbb;
    padding: 5px 25px;
    padding-bottom: 15px;
    gap: 20px;
}

.pop-small {
    display: flex;
    background-color: transparent;
    gap: 30px;
}

.pop {
    padding: 5px;
    margin-left: 5px;
    margin-top: 30px;
}

.pop-name {
    width: 200px;
    font-size: 13px;
}

.pop-work {
    width: 175px;
    font-size: 13px;
}

.pop-email {
    width: 275px;
    font-size: 13px;
}

.pop input[type="name"], .pop input[type="email"], .pop input[type="text"] {
    color: #7b7a79;
    background-color: #e9ddbb;
    padding: 4px;
    border: none;
    border-bottom: 1.5px solid #181510;
}

#dk figcaption {
    color: #181510;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
    background-color: #e9ddbb;
}

.pop-btns button[type="button"] {
    background-color: #e9ddbb;
    border: none;
    cursor: pointer;
    width: 20px;
}

.close {
    margin-top: -10px;
}

.close i {
    background-color: #e9ddbb;
    color: #181510;
}

.pop-btns {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    background-color: transparent;
    padding: 10px 30px;
}

.pop-btns button[type="submit"] {
    font-size: 14px;
    padding: 4px 8px;
    border: 1.5px solid #181510;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
}

.pop-btns button[type="submit"]:hover {
    color: #d3d3d3;
}

.pop-btns i:hover{
    color: #7b7a79;
}

#resume {
    background-color: #e9ddbb;
    color: #7b7a79;
    font-size: 12px;
    position: absolute;
    top: 99%;
    left: 3.5%;
    padding: 3px;
}


/* SCROLL BTNS */
.scroll1 span, .scroll2 span, .scroll3 span, .scroll4 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #e5daa4;
    border-right: 1px solid #e5daa4;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
    margin-bottom: 25px;
}

#about, #skills, #projects {
    scroll-margin-top: 125px;
}

#contact {
    scroll-margin-top: 50px;
}

.scroll1 {
    position: relative;
    top: 5%;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    max-height: calc(100vh - 75px);
}

.scroll2 {
    position: relative;
    top: 6%;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    max-height: calc(100vh - 75px);
}

.scroll3 {
    position: relative;
    bottom: -28px;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    max-height: calc(100vh - 75px);
}

.scroll4 {
    position: relative;
    bottom: 1px;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    max-height: calc(100vh - 75px);
}


/* FOOTER */
.foot {
    height: 75px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

